<% content_for :head do %>
  <meta property="og:image" content="<%= @post.picture.thumb.url %>" />
  <meta property="og:title"  content="<%= @post.title %>" />
  <meta property="og:description" content="<%= strip_tags(@post.lead.truncate(100)) %>" />
  <meta property="fb:app_id" content="443470149342900
" />
<% end %>

<div class="row" data-animation="fadeInUp-fadeOutDown">
  <div id="main-post" class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-6 col-lg-5 col-center main-content">
    <% if user_signed_in? && current_user?(@post.user) %>
      <div class="edit-delete-button-wrapper">
        <%= link_to "Edit", edit_post_path(@post), class: 'button' %>
        <%= link_to "Delete", post_path(@post), method: :delete, class: 'button' %>
      </div>
    <% end %>
    <% if admin_signed_in? %>
      <%= feature_post_button_for(@post) %>
    <% end %>

    <% if @post.picture? %>
      <div class="post-picture-wrapper">
        <%= image_tag @post.picture.url(:thumb) %>
      </div>
    <% end %>

    <div class="post-tags">
      <% @post.tags.each do |tag| %>
        <%= link_to tag.name, tag, class: 'tag' %>
      <% end %>
    </div>

    <h3 class="title"><%= @post.title %></h3>

    <%= render 'post_metadata', post: @post %>
    <div class="body">
      <p><%= remove_javascript(@post.body).html_safe %></p>
    </div>

      <a class="fa fa-facebook-official" target="_blank" href="http://www.facebook.com/sharer.php?u=<%= post_url(@post) %>" style="font-size: 20px" >分享到臉書</a>

    <div class="author-info">
      <div clas="author-metadata">
        <%= avatar_for @post.user, size: 50 %>
        <div class="username-description">
          <h4><%= @post.user.username %></h4>
          <p><%= @post.user.description %></p>
        </div>
      </div>
    </div>
  </div>
</div> 

<div class="post-show-footer row" data-animation="fadeInUp-fadeOutDown">
  <% if @related_posts.any? %>
    <div class="col-xs-10 col-md-8 col-xs-offset-1 col-md-offset-2 main-content related-stories">
      <% @related_posts.each do |post| %>
        <%= render partial: 'posts/post_list_item', locals: { post: post } %>
      <% end %>
    </div>
  <% end %>
</div>


