<nav data-behavior="animated-navbar" class="navbar navbar-default navbar-fixed-top container-fluid">
  <div class="col-md-10 col-md-offset-1">
    <div class="navbar-header">
      <%= link_to root_path, class: "navbar-brand", id: "logo" do %>
        <%= image_tag 'Blog_LOGO.png', type: 'image/png' %>
      <% end %>
    </div>
    <ul class="nav navbar-nav filter-links">
      <li><%= nav_link_to "最新消息", tag_path(Tag.find_by_name("最新消息").id) %></li>
      <li><%= nav_link_to "熱門文章", tag_path(Tag.find_by_name("熱門文章").id) %></li>
      <li><%= nav_link_to "團隊介紹", tag_path(Tag.find_by_name("團隊介紹").id) %></li>
    </ul>

    <div class="folding-nav">
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li class="new-post-button"><%= link_to "Write a story", new_post_path, class: "button" %></li>
          <%= render 'layouts/avatar_dropdown' %>
        <% end %>
      </ul>
    </div>

  </div>
</nav>
