<section id="banner" class = "hidden-xs" data-animation="fadeInUp-fadeOutDown" style="height: 600px;">
</section>

<nav data-behavior="animated-navbar" class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid col-md-10 col-md-offset-1">
    <div class="navbar-header">
      <%= link_to root_path, class: "navbar-brand", id: "logo" do %>
        <%= image_tag 'Blog_LOGO.png', type: 'image/png' %>
      <% end %>
    </div>
    <ul class="nav navbar-nav filter-links">
      <li>
        <% if user_signed_in? %>
          <%= nav_link_to "最新消息", tag_path(id:6) %>
        <% else %>
          <%= nav_link_to "最新消息", tag_path(id:6) %>
        <% end %>
      </li>
      <li><%= nav_link_to "熱門文章", tag_path(id:7) %></li>
      <li><%= nav_link_to "團隊介紹", tag_path(id:8) %></li>
    </ul>

    <div class="folding-nav">
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li class="new-post-button"><%= link_to "Write a story", new_post_path, class: "button" %></li>
          <li id="notifications">
            <%= react_component('NotificationsContainer', {}) %>
          </li>
          <%= render 'layouts/avatar_dropdown' %>
        <% end %>
      </ul>
    </div>

  </div>
</nav>
