<!DOCTYPE html>
<html ng-app="Stories">
<head>
  <title>Stories</title>
  <style type="text/css">
    /*banner*/
    #banner {
      padding: 4em 0 6em 0;
      background-image: url('<%= asset_path("Banner.jpg") %>');
      background-size: cover;
      background-position: top;
      background-attachment: fixed;
      /*background-repeat: no-repeat;*/
      text-align: center;
      /*border-top: 0.5em solid #5385c1;*/
      max-height: 600px;
    }
    /*footer*/
    .home-newsletter {
      padding: 80px 0;
/*        background: #f84e77;*/
    }

    .home-newsletter .single {
      max-width: 650px;
      margin: 0 auto;
      text-align: center;
      position: relative;
      z-index: 2; }
    .home-newsletter .single h2 {
      font-size: 44px;
      color: white;
      text-transform: uppercase;
      margin-bottom: 40px; }
    .home-newsletter .single .form-control {
      padding-left: 20px;
      height: 80px;
      font-size: 36px;
      background: white;
      border-color: transparent;
      border-radius: 15px 0 0 15px; }
    .home-newsletter .single .form-control:focus {
      box-shadow: none;
      border-color: #243c4f; }
    .home-newsletter .single .btn {
      min-height: 80px;
      min-width: 150px;
      border-color:white; 
      border-radius: 0 15px 15px 0;
      background: #000000;
      color: #fff;
    }  
  </style>   
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <%= favicon_link_tag 'favicon.png', type: 'image/png' %>
  <%= favicon_link_tag 'stories-icon-apple-touch-180x180.png', rel: 'apple-touch-icon', type: 'image/png' %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<%= render 'layouts/overlay' unless user_signed_in? %>
<body class="<%= controller.controller_name %> <%= controller.action_name %>">
  <%= render 'layouts/overlay' unless user_signed_in? %>
  <%= react_component('UserOverlay', {}) %>

  <div data-behavior="progress-bar" class="progress-bar"></div>

  <% if admin_signed_in? %>
    <%= render 'layouts/admin_header' %>
  <% elsif @activate_banner %>  
    <%= render 'layouts/header_with_banner' %>
  <% else %>
    <%= render 'layouts/header' %>
  <% end %>
  <%= render 'layouts/alert_messages' %>

  <div class="container-fluid main-container">
    <%= yield %>
    <%= yield :sidebar %>
  </div>

  <%= render 'layouts/footer' %>

</body>
<script type="text/javascript">
  window.userSignedIn = <%= user_signed_in? %>;
</script>
</html>
