<!DOCTYPE html>
<html ng-app="Ditblog" prefix='og: http://ogp.me/ns#' lang="zh">
<head>
  <title>Ditblog</title>
  <style type="text/css">
    /*banner*/
    #banner {
      padding: 4em 0 6em 0;
      background-image: url('<%= asset_path("Banner.jpg") %>');
      background-size: cover;
      background-position: top;
      background-attachment: fixed;
      /*background-repeat: no-repeat;*/
      text-align: center;
      /*border-top: 0.5em solid #5385c1;*/
      max-height: 600px;
    }
    
  </style>   
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <%= favicon_link_tag 'favicon.png', type: 'image/png' %>
  <%= favicon_link_tag 'stories-icon-apple-touch-180x180.png', rel: 'apple-touch-icon', type: 'image/png' %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="turbolinks-cache-control" content="no-cache">
  <%= yield :head %>
</head>
<%= render 'layouts/overlay' unless user_signed_in? %>
<body class="<%= controller.controller_name %> <%= controller.action_name %>">
  <%= render 'layouts/overlay' unless user_signed_in? %>
  <%= react_component('UserOverlay', {}) %>

  <% if admin_signed_in? %>
    <%= render 'layouts/admin_header' %>
  <% elsif @activate_banner %>  
    <%= render 'layouts/header_with_banner' %>
  <% else %>
    <%= render 'layouts/header' %>
  <% end %>
  <%= render 'layouts/alert_messages' %>

  <div class="container-fluid main-container">
    <%= yield %>
    <%= yield :sidebar %>
  </div>

  <%= render 'layouts/footer' %>

</body>
<script type="text/javascript">
  window.userSignedIn = <%= user_signed_in? %>;
</script>
</html>
